<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/angular.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/indexHandler.js" type="text/javascript"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header ng-app="index" ng-controller="indexController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="padding-top:3px">
                        <img width="200" height="40" src="/images/logo.png" style="float:left">
                    </a>
                </div>
                <div id='navbar' class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <% for(var i=0; i<allCategories.length; i++) {%>
                            <li>
                                <% var url = '/' %>
                                    <% url += allCategories[i].id %>
                                        <a href="<%= url %>">
                                            <%= allCategories[i].name%>
                                        </a>
                            </li>
                            <% } %>

                    </ul>
                    <ul class="nav navbar-nav navbar-right" >
                            <li ng-repeat="url in objects">
                                <a href={{url.url}}>{{url.text}}</a>
                             </li>
                        </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id='main'>
        <div id=categories class="container">
            <% for(var i=0; i<category[0].categories.length; i++) {%>
                <div id=category class="col-md-6">

                    <div class="card mb-6 box-shadow">
                        <div id='image'>
                            <%if(category[0].categories[i].image){%>
                                <!--IMPORTANT!! IF CATEGORY HASNT GOT ANY IMAGE, FAVICON CALLS A PAGE TWO TIMES WTF?-->
                                <img src="/images/<%=category[0].categories[i].image%>" style="max-width: 100% !important; height: auto;width: auto;">
                                <%}else{%>
                                    <img src="/images/categories/default.png" style="max-width: 100px !important; height: auto;width: auto;">
                                    <%}%>
                        </div>
                        <div id='information'>
                            <p>
                                <%=category[0].categories[i].name%>

                                    <%=category[0].categories[i].page_description%>
                            </p>
                        </div>
                        <% var url = category[0].id + '/'%>
                            <% url +=category[0].categories[i].id %>
                                <p>
                                    <a href="<%= url %>" class="btn btn-primary" role="button">Go</a>
                                </p>
                    </div>
                </div>


                <% } %>
        </div>
    </div>
</body>

</html>